@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Allura');

h1{
  font-family: 'Slabo 27px', serif;
  text-align: left;
	font-style: bold
	color: white;
}

#slogan {
	font-weight: bold;
  font-family: 'Allura', cursive;
  text-align: left;
	color: white;
}

body {
  text-align:left;
  font-family: 'Allura', cursive;
  background: url("../images/tazzz.jpg");
  background-size: cover;
  color: #fff;
}
hr {
  width: 200px;
}

p{
  font-size:22px;
}