@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

h1{
  font-family: 'Slabo 27px', serif;
  text-align: left;
	font-style: bold
	color: white;
}

#slogan {
  font-family: 'Tangerine', cursive;
  text-align: left;
	color: white;
}

body {
  text-align:left;
  font-family: 'Tangerine', cursive;
  background: url("../images/tazzz.jpg");
  background-size: cover;
  color: #fff;
}


p{
  font-size:18px;
}