body {
	text-align: center;
}
h1
p
ul
li
img
#slogan{
	font-weight: bold;
	font-style: italic;
}

body {
  text-align:center;
  background: url("C:\Users\ownerpc\Desktop\ppinnama.github.io\unit_3\image");
  background-size: cover;
  color: #fff;
  font-family: roboto;
}
hr {
  width: 200px;
}

p{
  font-size:22px;
}