h1{
	font-size: 30px;
	font-style: bold
	color: white;
}

#slogan {
	font-weight: bold;
	font-style: italic
	color: white;
}

body {
  text-align:center;
  background: url("../images/tazzz.jpg");
  background-size: cover;
  color: #fff;
  font-family: serif;
}
hr {
  width: 200px;
}

p{
  font-size:22px;
}